h1 {
  text-align: left
  }

span.lyric span.ch {
  display: inline-block;
  position: relative;
  left: 0px;
  top: -1.4em;
  font-size: xx-small;
  width:0px;
  padding-top:0.9em;
  font-weight: bold;
  overflow-wrap: normal;
  hyphens: none;
}

span.lyric span.akord {
  display: inline-block;
  position: relative;
  left: 0px;
  font-size: xx-small;
  width:0px;
  padding-top:0.9em;
  font-weight: bolder;
  overflow-wrap: normal;
  hyphens: none;
}

span.lyric span.akord span.ch {

  width: 75px;
  overflow-wrap: normal;
  font-weight: bold;
}

div.over_false span.lyric span.ch {
  display: none;
}

span.ch {
  font-family: sans-serif;
}

span.content_creator {
  margin-top: 0.2em;
  font-style: italic;
  font-weight: bold;
}

div.row > span.lyric > span {
    white-space: nowrap;
}

div.row > span.lyric > span > span {
    white-space: normal;
}

span.chords > span.ch {
  margin-left: 0.6em;
}

div.verse {
  display: table;
   width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
}

div.chorus {
  display: table;
   width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
}

div.other {
  display: table;
   width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
}

div.row {
  display: table-row;
}

div.row > span.lyric {
  display: table-cell;
  padding-right: 2em;
  width: 85%;
}
div.row > span.chords_ins {
  display: table-cell;
  padding-right: 2em;
  width: 85%;
}

div.row > span.chords {
  display: table-cell;
  align-items: end;
  padding-left: 1em;
  justify-content: left;
  width: max-content;
}

div.row > span.bis_inactive {
  display: table-cell;
  align-items: end;
  padding-left: 0.4em;
  empty-cells: show;
  max-width: 10em;
}

div.row > span.bis_active {
  display: table-cell;
  align-items: end;
  padding-left: 0.4em;
  border-left: solid;
  empty-cells: show;
  max-width: 10em;
}

div.comment {
  margin-top: 1.2em;
  font-style: italic;
}
