/* Kindle specyfic chords styling, as kindle stopped supporting 'width' property in the inline-block. */

span.lyric {
  display: table-cell;
  /*border: 1px solid blue;*/
}

span.lyric span.chunk {
  display: inline-table;
  /*border: 1px solid green;*/
  vertical-align: bottom;
}

span.lyric span.chord {
  display: table-row;
  /*border: 1px solid orange;*/
  max-height: 0;
}

span.lyric span.chord span.ch{
  display: table-cell;
}

span.lyric span.content {
  display: table-row;
  /*border: 1px solid red;*/
  /*overflow-wrap: normal;*/
  /*white-space: nowrap;*/
  /*hyphens: none;*/
}

span.lyric span.content-i {
  display: table-cell;
  /*border: 1px solid red;*/
  white-space: pre-line;
  overflow-wrap: normal;
  /*white-space: nowrap;*/
  hyphens: none;
}

span.ws {
  display: inline-block;
  opacity: 0;
}

div.row {
  display: table-row;
  border: 1px solid red;
  page-break-inside: avoid;
  /*page-break-after: avoid;*/
}

div.row > span.chords {
  display: table-cell;
  overflow-wrap: normal;
  hyphens: none;
  white-space: nowrap;
}

div.verse {
  display: table;
  border-spacing: 0;
  /*page-break-inside: avoid;*/
}

div.verse {
  display: table;
  width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
}

div.chorus {
  display: table;
  width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
  padding-left: 1.2em;
}

div.other {
  display: table;
  width: 100%;
  align-items: stretch;
  margin-top: 1.2em;
}

div.over_false span.lyric span.ch {
  display: none;
}

/* Generic styling*/

h1 {
  text-align: left;
}

span.lyric span.ch {
  font-family: sans-serif;
  font-size: xx-small;
  font-weight: bolder;
}

span.ch {
  font-family: sans-serif;
  font-weight: bolder;
}

span.content_creator {
  margin-top: 0.0em;
  font-style: italic;
  font-weight: bold;
  font-size: small;
}

span.chords > span.ch {
  margin-left: 0.6em;
}

div.row > span.bis_inactive {
  display: table-cell;
  padding-right: 0.4em;
  empty-cells: show;
  width: 2em;
}

div.row > span.bis_active {
  display: table-cell;
  padding-right: 0.4em;
  border-right: solid;
  empty-cells: show;
  text-align: right;
  width: 2em;
}

div.comment {
  margin-top: 1.2em;
  font-style: italic;
}